* 
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    overflow: hidden; 
}

a {
    text-decoration: none;
    color: #eee;
}

header {
    background-image: url('physicistspr.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    
   
  
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    
}

.brand {
    font-size: 5rem;
    font-weight: 300;
    padding-top: 0;
    transform: translateX(0);
    animation: slideIn .5s forwards;
    display: flex;
    justify-content: flex-start;
  
    
}
.brand span {
    color: crimson;
}

nav ul {
    display: flex;
}
@keyframes slideIn {
    from {
        transform: translateX(-100rem);
    }
    to {
        transform: translateX(0);
    }
}

nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn 0.5s forwards;
}


nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.25s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.5s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.75s;
}

nav ul li a {
    padding: 1rem 0;
    margin: 0.3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a::before {
    top: 0;
    transform-origin: left;
}

nav ul li a::after {
    bottom: 0;
    transform-origin: right;
}


nav ul li a::before,
nav ul li a::after {
    transform: scaleX(1);
}